extends layout.pug

block style
    link(rel="stylesheet", href="/stylesheets/books.css")
        

block title
    
    
    div(class="row col-12")
        h3(class="col-md-4 col-12") 
        h1(class="h1 text-center col-md-4 border border-dark rounded col-12 mt-2") #{book.title}
        h3(class="col-md-4 col-12") 

block content
    
    
    
    div(class="row float-md-right col-12 col-md-4 border border-dark rounded")
        h2(class="h2 mt-2") Infos
        
        div(class="row col-12")
            p(class="float-right col-12 col-md-3") Autor: 
            a(class="float-right col-12 col-md-8" href="/author/"+book.author) #{book.author}
        
        div(class="row col-12")
            p(class="col-12 col-md-5") Veröffentlicht: 
            a(class="col-12 col-md-7" href="/release/"+book.release) #{book.release}
        div(class="row col-12")
            img(src=piclink, class="mx-auto d-block")
        



    //wenn reviews da sind die ausgeben sonst nur keien Revciews
    div(class="row float-left col-12 col-md-8 mt-3")
        div(class="row col-12")
            h2(class="h2 col-4") Review

        div(class="row col-12")
            p(class=" col-2 str") Sterne:
            if avrgStrs
                p(class="col-4 str") #{avrgStrs}
            else
                p(class="col-4 str") Keine Reviews

        if reviews
            ul(class="list-group ml-2 mb-2 col-12")
                each review in reviews
                    li(class="list-group-item row mt-2 ")
                        p(class="col-12") Sterne: #{review.ranking} 
                        p(class="col-12") #{review.revtext}
                                    
        else
            //p(class="float-right col-12") Keine Reviews
            

    
    


    div(class="row col-12 mt-3")
        form(action="/books/"+book.id, method="post" , class="col-12")
            div(class="form-group col-12" )
                label(class="mt-5", for="inputStrs") Sterne:
                //input(class="form-control", id="inputStrs" placeholder="Sterne 1-5", name="rankingInput")
                select.selectpicker(data-style='btn-info', name='selectpicker', class="ml-3 btn")
                    option(name='table1', value='1') 1 Stern
                    option(name='table2', value='2') 2 Sterne
                    option(name='table3', value='3') 3 Sterne
                    option(name='table3', value='4') 4 Sterne
                    option(name='table3', value='5') 5 Sterne


            div(class="form-group col-12 ")
                label(class="", for="inputRevText") Text
                input(class=" form-control", id="inputRevText" placeholder="Text", name="revtextInput")

            

            button(type="submit", class="btn" name="cnct_btn") Senden
        


        
    if error
        div(class="alert alert-danger" role="alert") #{error}