extends layout.pug

block style
    link(rel="stylesheet", href="/stylesheets/detailSingle.css")
    


block title
    h1(class="text-center") #{detail}

block content
    
    ul(class="list-group row")
    each book in books
        li(class="list-group-item col-12 mt-2 border-secondary braun rounded")
            div(class="row ") 
                a(class="col-12" href="/books/"+book.id) #{book.title}
                p(class="mt-2 col-4") Autor: #{book.author}
                p(class="mt-2 col-4") Jahr: #{book.release}
                p(class="mt-2 col-3") ISBN: #{book.isbn}

    //TODO ADD sterne bewertungen mit rein
    
    if error
        div(class="alert alert-danger" role="alert") #{error}