extends layout.pug

block style
    
    style.
        .content{
            background-color:  rgb(166, 138, 104);
        }
       


block title
    h1(class="mt-3 text-center") Impressum

block content

    p(class="h3 text-center col-12 mt-5") Herausgeber
    div(class="row content")
        p(class="h4 text-center col-12") Fabian Weiss
        p(class="h4 text-center col-12") Prüfeninger Str. 58 
        p(class="h4 text-center col-12") 93049 Regensburg


