doctype html
html
    
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/layout.css")
        
        
            
        block style

        nav.navbar.navbar-expand-md
            button.navbar-toggler(data-toggle='collapse', data-target='#navbarMenu')
                span.navbar-toggler-icon ≡
            #navbarMenu.collapse.navbar-collapse
            
                ul.navbar-nav.ml-auto.mt-2
                    li.nav-item.mr-4
                        a.nav-link(href='/' class="text-dark") Home
                    li.nav-item.mr-4
                        a.nav-link(href='/search' class="text-dark") Suche
                    li.nav-item.mr-3
                        a.nav-link(href='/impressum' class="text-dark") Impressum
                    if username          
                        li.nav-item.mr-3
                            a.nav-link(href='/login' class="text-dark") User: #{username}    
                        li.nav-item.mr-3
                            a.nav-link(href='/logout' class="text-dark") Logout
                    else
                        li.nav-item.mr-3
                            a.nav-link(href='/login' class="text-dark") Login
                    

        div(class="container")
    <!-- HERE TITLE -->
        block title
    body
        div(class="container")

            block content

    
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
