extends layout.pug

block style
    link(rel="stylesheet", href="/stylesheets/login.css")
        


block title
    h1(class=" text-center") Login / Registrieren

block content
    div(class="row content")
        div(class="col-12 col-md-6")
            form(action="login" method="post")
                div(class="form-group")
                    label(for="inputUsername") Login
                    input(type="text", class="form-control", id="inputUsername", placeholder="Enter username", name="username")
                div(class="form-group")
                    label(for="inputPassword") Password
                    input(type="password", class="form-control", id="inputPassword" placeholder="Password", name="password")

                button(type="submit", class="btn flaot-left" name="cnct_btn", value="login") Log in
                button(type="submit", class="btn float-right" name="cnct_btn", value="register") Registrieren
        div(class="col-12 col-md-6 float-right ")
            if username
                h2(class="text-center text-md-right mt-3") Sie sind eingeloggt als: #{username}
            else
                h2(class="text-center text-md-right mt-3") Sie sind nicht eingeloggt
      
    if login_error
        div(class="alert alert-danger" role="alert") #{login_error}