extends layout.pug

block style
    link(rel="stylesheet", href="/stylesheets/search.css")


block title
    h1(class="text-center") Suche

block content
    form(action="search" method="post")
        div(class="form-group")
            label(for="inputISBN") ISBN
            input(type="text", class="form-control", id="inputISBN", placeholder="ISBN", name="isbnInput")
        div(class="form-group")
            label(for="inputTitle") Buchtitel
            input(class="form-control", id="inputTitle" placeholder="Buchtitel", name="titleInput")
        div(class="form-group")
            label(for="inputAuthor") Autorenname
            input(class="form-control", id="inputAuthor" placeholder="Autorenname", name="authorInput")

        button(type="submit", class="btn" name="cnct_btn", value="login") Suchen

    if amount
        h2(class="h2 row col-4") Anzahl Treffer: #{amount}

    ul(class="list-group row")
    each book in books
        li(class="list-group-item col-12 mt-2 border-secondary braun rounded")
            div(class="row ") 
                a(class="col-12" href="/books/"+book.id) #{book.title}
                p(class="mt-2 col-4") Autor: #{book.author}
                p(class="mt-2 col-4") Jahr: #{book.release}
                p(class="mt-2 col-3") ISBN: #{book.isbn}
                
            //    each link in links
                    img(src=link, class="mx-auto d-block")

    //TODO ADD sterne bewertungen mit rein
    
    if error
        div(class="alert alert-danger" role="alert") #{error}