label{
    font-size: 17px;
    color: black;
    background-color: rgb(166, 138, 104);
}
button{
    color: rgb(217,194, 167);
    background-color: rgb(64, 42, 30);
}
a{
    font-weight: bold;
    color: rgb(64, 42, 30);
}
h1{
    background-color: rgb(217,194, 167);
}
h2{
    background-color: rgb(166, 138, 104);
}
.str{
    font-weight: bold;
    color: rgb(64, 42, 30);
    background-color: rgb(166, 138, 104)
}

select{
    font-weight: bold;
    color: rgb(217,194, 167);
    background-color: rgb(64, 42, 30);
}