body{
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/30/13/12/texture-1362879_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.navbar a{
    font-size: 17px;
    color: black;
    font-weight: bold;
}

.collapse.show{
    background-color: rgb(217,194, 167);
}
    


