h1{
    margin-top: 3%;
    font-size: 50px;
    font-weight: bold;
}
label{
    font-size: 17px;
    color: black;
    background-color: rgb(166, 138, 104);
}
.content{
    margin-top: 5%;
}
button{
    color: rgb(217,194, 167);
    background-color: rgb(64, 42, 30);
}
